.container {
  padding: 24px;
}
.title {
  margin-bottom: 24px;
}
.titleText {
  font-weight: bold;
  font-size: 2rem;
  color: #222;
}
.ratingBody {
  background-color: rgba(228, 228, 228, 0.4);
  padding: 16px;
  width: 90%;
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.ratingTextWrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.ratingTitle {
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  margin-bottom: 4px;
  text-transform: uppercase;
  color: rgb(21, 21, 21);
  /* font-family: HelveticaNeue, arial; */
  padding: 0 8px;
}

.goodRatingValue {
  align-self: center;
  background: rgb(127, 246, 195);
  height: 64px;
  line-height: 36px;
  margin-bottom: 24px;
  padding: 14px 24px;
  width: 72px;
  font-size: 32px;
  font-family: Poppins, sans-serif;
  font-weight: 900;
}

.okRatingValue {
  align-self: center;
  background: rgb(255, 241, 112);
  height: 64px;
  line-height: 36px;
  margin-bottom: 24px;
  padding: 14px 24px;
  width: 72px;
  font-size: 32px;
  /* font-family: Poppins, sans-serif; */
  font-weight: 900;
}

.badRatingValue {
  align-self: center;
  background: rgb(255, 156, 156);
  height: 64px;
  line-height: 36px;
  margin-bottom: 24px;
  padding: 14px 24px;
  width: 72px;
  font-size: 32px;
  /* font-family: Poppins, sans-serif; */
  font-weight: 900;
}

.ratingCommentWrapper {
  display: flex;
  flex-direction: column;
  margin-left: 48px;
  text-align: left;
  width: 100%;
  justify-content: center;
}

.commentTitle {
  display: flex;
  justify-content: space-between;
}

.ratingFooter {
  display: flex;
  justify-content: space-between;
}

.voteRatingWrapper {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.likeButton {
  padding-right: 4px;
  padding-top: 6px;
  font-size: x-large;
}

.disLikeButton {
  padding-right: 4px;
  padding-top: 6px;
  font-size: x-large;
}

.likeButton:hover {
  color: rgb(51, 155, 110);
}

.disLikeButton:hover {
  color: rgb(231, 76, 76);
}

.report {
  position: relative;
  display: inline-block;
}

.reportIcon {
  padding-top: 4px;
  font-size: x-large;
}

.report .reportText {
  visibility: hidden;
  width: 150px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 8px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -75px;
}

.report:hover .reportText {
  visibility: visible;
}

.name {
  align-items: center;
  align-self: center;
  display: flex;
  font-size: 16px;
  padding-right: 22px;
  text-transform: uppercase;
  /* font-family: Poppins, sans-serif; */
  font-weight: 900;
}

.nameWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.badRatingLabel {
  -webkit-box-align: center;
  align-items: center;
  background: rgb(255, 156, 156);
  display: inline-flex;
  line-height: 1.54;
  padding: 5px 20px;
  text-align: left;
  text-transform: uppercase;
  /* font-family: Poppins, sans-serif; */
  font-weight: 700;
}

.goodRatingLabel {
  -webkit-box-align: center;
  align-items: center;
  background: rgb(255, 241, 112);
  display: inline-flex;
  line-height: 1.54;
  padding: 5px 20px;
  text-align: left;
  text-transform: uppercase;
  /* font-family: Poppins, sans-serif; */
  font-weight: 700;
}

.greatRatingLabel {
  -webkit-box-align: center;
  align-items: center;
  background: rgb(127, 246, 195);
  display: inline-flex;
  line-height: 1.54;
  padding: 5px 20px;
  text-align: left;
  text-transform: uppercase;
  /* font-family: Poppins, sans-serif; */
  font-weight: 700;
}

.dateRating {
  font-size: medium;
  font-weight: 700;
}

.commentDescription {
  font-size: medium;
  font-weight: 300;
  padding: 12px 0px;
}

.comment {
  justify-content: center;
  margin: 0;
}

.commentName {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}
