.searchWrapper {
  width: 100%;
  position: relative;
}
.searchUl {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.searchResult {
  position: absolute;
  top: 60px;
  width: 100%;
  max-height: 280px;
  background-color: white;
  overflow: auto;
  border: 0px;
  border-radius: 12px;
  flex: 1;
  box-shadow: rgb(126 126 126 / 25%) 0px 4px 4px;
}
p {
  margin: 0;
}
.searchBox {
  font-size: 16px;
  line-height: 24px;
  padding: 16px 20px;
  padding-left: 50px;
  width: 100%;
  border: 0px;
  border-radius: 43px;
}
.backgroundSearch {
  display: flex;
  align-items: center;
}
.backgroundIcon {
  position: absolute;
  display: flex;
  font-size: x-large;
  align-items: center;
  margin-left: 12px;
}
.resultIcon {
  /* margin-left: 12px; */
  margin-right: 12px;
}
.itemSearch {
  width: 100%;
  padding: 8px;
  padding-left: 16px;
  font-weight: 600;
  margin-top: 0px;
  color: black;
  text-decoration: none;
  font-size: 16px;
}
.itemSearch:hover {
  background-color: aliceblue;
  cursor: pointer;
}
.itemLink {
  width: 100%;
  text-decoration: none;
  color: black;
}
