* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  max-width: 90vw;
}

.barContainer {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}
.wrapper {
  display: grid;
  grid-template-columns: 1.4fr 3fr 0.5fr;
  height: 40px;
  align-items: center;
}
.bar5 {
  width: 60%;
  height: 28px;
  background-color: #e77373;
}
.bar4 {
  width: 50%;
  height: 28px;
  background-color: #e77373;
}
.bar3 {
  width: 10%;
  height: 28px;
  background-color: #e77373;
}
.bar2 {
  width: 4%;
  height: 28px;
  background-color: #e77373;
}
.bar1 {
  width: 15%;
  height: 28px;
  background-color: #e77373;
}

.rateType {
  text-align: right;
  margin-right: 20px;
}
.rateTypeNum {
  font-weight: 700;
}

.rateCount {
  /* text-align: left; */
  /* margin-left: 20px; */
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.rateTypeSpan {
  font-weight: bold;
}

.row {
  display: grid;
  grid-template-columns: 6.5fr 3.5fr;
}
.title {
  display: grid;
  grid-template-columns: 1fr 4fr;
  justify-content: space-between;
  gap: 16px;
}
.logo {
  height: 152px;
  aspect-ratio: auto 170 / 152;
  width: 170px;
  /* border-radius: 50%; */
  border-color: #ddd;
  border-width: 1px;
  border-style: solid;
}
.companyName {
  font-size: 3rem;
  color: #222;
  font-weight: bold;
  line-height: 1.25;
  display: block;
  -webkit-font-smoothing: antialiased;
}

.location {
  color: #222;
  font-size: 1rem;
  font-weight: 700;
}

.locationWrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}
.description {
  margin-top: 36px;
  font-weight: 500;
  font-size: 1rem;
  color: #222;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}
p {
  margin: 0 0 1rem;
}

.rateBar {
  padding: 12px;
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  align-items: center;
}
.detailLeft {
  padding-right: 50px;
}

.detailRight {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.avgRating {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.avgValueWrapper {
  display: flex;
}
.avgValue {
  color: rgb(21, 21, 21);
  font-size: 80px;
  margin-right: 11px;
  font-weight: 900;
}

.maxValue {
  color: rgb(152, 152, 152);
  font-size: 24px;
  font-weight: 700;
  position: relative;
  top: 20px;
}

.numRating {
  font-weight: 700;
  color: rgb(21, 21, 21);
  font-size: 14px;
}
.rateBarTitle {
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.rateBarText {
  margin-bottom: 4px;
}

.numCount {
  color: #e77373;
  font-weight: 900;
}

.containerComment {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 50px;
}

.ratingBody {
  background-color: rgba(228, 228, 228, 0.4);
  padding: 16px;
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 24px;
}

.ratingTextWrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.ratingTitle {
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  margin-bottom: 4px;
  text-transform: uppercase;
  color: rgb(21, 21, 21);
  /* font-family: HelveticaNeue, arial; */
  padding: 0 8px;
}

.goodRatingValue {
  align-self: center;
  background: rgb(127, 246, 195);
  height: 64px;
  line-height: 36px;
  margin-bottom: 24px;
  padding: 14px 24px;
  width: 72px;
  font-size: 32px;
  font-family: Poppins, sans-serif;
  font-weight: 900;
}

.okRatingValue {
  align-self: center;
  background: rgb(255, 241, 112);
  height: 64px;
  line-height: 36px;
  margin-bottom: 24px;
  padding: 14px 24px;
  width: 72px;
  font-size: 32px;
  /* font-family: Poppins, sans-serif; */
  font-weight: 900;
}

.badRatingValue {
  align-self: center;
  background: rgb(255, 156, 156);
  height: 64px;
  line-height: 36px;
  margin-bottom: 24px;
  padding: 14px 24px;
  width: 72px;
  font-size: 32px;
  /* font-family: Poppins, sans-serif; */
  font-weight: 900;
}

.ratingCommentWrapper {
  display: flex;
  flex-direction: column;
  margin-left: 48px;
  text-align: left;
  width: 100%;
  justify-content: center;
}

.commentTitle {
  display: flex;
  justify-content: space-between;
}

.ratingFooter {
  display: flex;
  justify-content: space-between;
}

.voteRatingWrapper {
  display: flex;
  justify-content: space-between;
  gap: 12px;
}

.likeButton {
  padding-right: 4px;
  padding-top: 6px;
  font-size: x-large;
}

.disLikeButton {
  padding-right: 4px;
  padding-top: 6px;
  font-size: x-large;
}

.likeButton:hover {
  color: rgb(51, 155, 110);
}

.disLikeButton:hover {
  color: rgb(231, 76, 76);
}

.report {
  position: relative;
  display: inline-block;
}

.reportIcon {
  padding-top: 4px;
  font-size: x-large;
}

.report .reportText {
  visibility: hidden;
  width: 150px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 8px 8px;
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100%;
  left: 50%;
  margin-left: -75px;
}

.report:hover .reportText {
  visibility: visible;
}

.name {
  align-items: center;
  align-self: center;
  display: flex;
  font-size: 16px;
  padding-right: 22px;
  text-transform: uppercase;
  /* font-family: Poppins, sans-serif; */
  font-weight: 900;
}

.nameWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.badRatingLabel {
  -webkit-box-align: center;
  align-items: center;
  background: rgb(255, 156, 156);
  display: inline-flex;
  line-height: 1.54;
  padding: 5px 20px;
  text-align: left;
  text-transform: uppercase;
  /* font-family: Poppins, sans-serif; */
  font-weight: 700;
}

.goodRatingLabel {
  -webkit-box-align: center;
  align-items: center;
  background: rgb(255, 241, 112);
  display: inline-flex;
  line-height: 1.54;
  padding: 5px 20px;
  text-align: left;
  text-transform: uppercase;
  /* font-family: Poppins, sans-serif; */
  font-weight: 700;
}

.greatRatingLabel {
  -webkit-box-align: center;
  align-items: center;
  background: rgb(127, 246, 195);
  display: inline-flex;
  line-height: 1.54;
  padding: 5px 20px;
  text-align: left;
  text-transform: uppercase;
  /* font-family: Poppins, sans-serif; */
  font-weight: 700;
}

.dateRating {
  font-size: medium;
  font-weight: 700;
}

.commentDescription {
  font-size: medium;
  font-weight: 300;
  padding: 12px 0px;
}

.comment {
  justify-content: center;
  margin: 0;
}

.commentName {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}

.rateButtonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.rateButton {
  min-width: 220px;
  text-decoration: none;
  width: fit-content;
  background: #323943;
  border: 0px;
  border-radius: 100px;
  color: white;
  display: flex;
  font-stretch: normal;
  font-weight: 700;
  -webkit-box-pack: center;
  justify-content: center;
  letter-spacing: normal;
  line-height: 1.54;
  outline: none;
  padding: 11px 46px;
  transition: transform 0.2s ease 0s;
  align-items: center;
}

.rateButton:hover {
  cursor: pointer;
  background: #242c38;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.ratingWrapper {
  width: 100%;
  border-bottom: 2px solid rgb(21, 21, 21);
  margin-top: 24px;
}
.numRatingCount {
  margin-bottom: 8px;
  font-weight: bold;
}
