.container {
  width: 100%;
  margin: -3rem auto;
}
.background {
  position: relative;
  width: 100%;
  padding: 0;
}
.backgroundWrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 440px;
}

.backgroundText {
  font-size: x-large;
  text-align: center;
  color: aliceblue;
  margin-bottom: 60px;
}

.companyText {
  font-size: xx-large;
  font-weight: bold;
  color: #e77373;
}
.backgroundSearch {
  display: flex;
  align-items: center;
}
.backgroundIcon {
  position: absolute;
  display: flex;
  font-size: x-large;
  align-items: center;
  margin-left: 12px;
}

.searchBox {
  font-size: 16px;
  line-height: 24px;
  padding: 16px 20px;
  padding-left: 50px;
  width: 100%;
  border: 0px;
  border-radius: 43px;
}
.bottomImageWrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.bottomImage {
  width: 80%;
  padding: 20px;
}

.imageWrapper {
  display: flex;
  justify-content: center;
}
.bottomText {
  font-size: 26px;
  line-height: 26px;
  color: rgb(21, 21, 21);
  /* font-family: Poppins, sans-serif; */
  font-weight: 700;
  text-align: center;
}
.logo1 {
  width: 100%;
}
.sloganWrapper {
  text-align: center;
}
.sloganTitle {
  margin-top: 16px;
  margin-bottom: 16px;
  font-size: 36px;
  font-weight: bolder;
}
.sloganDescription {
  font-size: 26px;
  font-weight: 500;
}

.footer {
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 12px;
  background-color: #323943;
  color: white;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.footerText {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  /* text-align: center; */
}
