.container {
  padding: 24px;
}
.title {
  margin-bottom: 24px;
}
.titleText {
  font-weight: bold;
  font-size: 2rem;
  color: #222;
}
.ratingList {
  width: 135%;
}

.containerComment {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-right: 50px;
}

.ratingLiWrapper {
  width: 66%;
}

.ratingUl {
  list-style: none;
}

.ratingBody {
  background-color: rgba(228, 228, 228, 0.4);
  padding: 16px;
  width: 100%;
  display: flex;
  margin-top: 24px;
}

.ratingTextWrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  color: #1e1c1c;
}

.ratingCommentWrapper {
  margin-left: 48px;
  text-align: left;
  width: 100%;
}
.commentName {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
}
.commentName:hover {
  cursor: pointer;
}

.commentDescription {
  font-size: medium;
  font-weight: 300;
  margin-top: 8px;
}
.logo {
  height: 80px;
  aspect-ratio: auto 100 / 80;
  width: 100px;
  border-color: #ddd;
  border-width: 1px;
  border-style: solid;
}

.location {
  color: rgb(84, 84, 84);
  font-size: 14px;
  font-weight: 700;
}

.locationWrapper {
  margin-bottom: 8px;
  display: flex;
  gap: 8px;
  align-items: center;
}
.infoWrapper {
  display: flex;
  justify-content: flex-start;
  gap: 50px;
}
.itemLink {
  text-decoration: none;
  color: black;
  margin: 0;
  font-size: 30px;
  font-weight: bold;
}
.verifiedItem {
  color: rgb(10, 99, 234);
  font-size: x-large;
  position: absolute;
  left: 8px;
  top: 8px;
}
.unVerifiedItem {
  color: rgb(190, 189, 189);
  font-size: x-large;
  position: absolute;
  left: 8px;
  top: 8px;
}
.logoWrapper {
  position: relative;
}
.linkJob {
  font-size: 1.3rem;
  color: #f6d4d3;
}
.linkJob:hover {
  cursor: pointer;
  color: #ed514b;
}

.btnAdd {
  background-color: #e67772;
  font-size: 16px;
  padding: 8px;
  align-items: center;
  cursor: pointer;
  user-select: none;
  outline: none;
  border: none;
  border-radius: 4px;
  color: rgb(255, 255, 255);
  font-weight: 500;
  text-decoration: none;
}
.deleteBtn {
  font-size: 1.5rem;
  color: #edbaba;
}
.deleteBtn:hover {
  cursor: pointer;
  color: #e85656;
}
.commentTitle {
  display: flex;
  justify-content: space-between;
}
.ratingTitle {
  font-size: 14px;
  font-weight: 600;
  line-height: 14px;
  margin-bottom: 4px;
  text-transform: uppercase;
  color: rgb(21, 21, 21);
  padding: 0 8px;
}
.goodRatingValue {
  align-self: center;
  background: rgb(127, 246, 195);
  height: 64px;
  line-height: 36px;
  margin-bottom: 24px;
  padding: 14px 24px;
  width: 72px;
  font-size: 32px;
  font-family: Poppins, sans-serif;
  font-weight: 900;
}

.okRatingValue {
  align-self: center;
  background: rgb(255, 241, 112);
  height: 64px;
  line-height: 36px;
  margin-bottom: 24px;
  padding: 14px 24px;
  width: 72px;
  font-size: 32px;
  font-family: Poppins, sans-serif;
  font-weight: 900;
}

.badRatingValue {
  align-self: center;
  background: rgb(255, 156, 156);
  height: 64px;
  line-height: 36px;
  margin-bottom: 24px;
  padding: 14px 24px;
  width: 72px;
  font-size: 32px;
  font-family: Poppins, sans-serif;
  font-weight: 900;
}
.reportedCount {
  color: #fc1509;
}
.ratingItem {
  text-decoration: none;
}
.titleName {
  color: rgb(114, 112, 112);
}
