* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  margin: 0 auto;
  max-width: 90vw;
}

.barContainer {
  width: 100%;
  background-color: #f1f1f1;
  text-align: center;
  color: white;
}
.wrapper {
  display: grid;
  grid-template-columns: 1.4fr 3fr 0.5fr;
  height: 40px;
  align-items: center;
}
.bar5 {
  width: 20%;
  height: 28px;
  background-color: #e77373;
}
.bar4 {
  height: 28px;
  background-color: #e77373;
}
.bar3 {
  height: 28px;
  background-color: #e77373;
}
.bar2 {
  height: 28px;
  background-color: #e77373;
}
.bar1 {
  height: 28px;
  background-color: #e77373;
}

.rateType {
  text-align: right;
  margin-right: 20px;
}
.rateTypeNum {
  font-weight: 700;
}

.rateCount {
  /* text-align: left; */
  /* margin-left: 20px; */
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.rateTypeSpan {
  font-weight: bold;
}

.row {
  display: grid;
  grid-template-columns: 6.5fr 3.4fr;
}
.title {
  display: grid;
  grid-template-columns: 1fr 4fr;
  justify-content: space-between;
  gap: 16px;
  align-items: center;
}
.logo {
  height: 152px;
  aspect-ratio: auto 170 / 152;
  width: 170px;
  /* border-radius: 50%; */
  border-color: #ddd;
  border-width: 1px;
  border-style: solid;
}
.logoJob {
  height: 70px;
  aspect-ratio: auto 80 / 10;
  width: 75px;
  /* border-radius: 50%; */
  border-color: #ddd;
  border-width: 1px;
  border-style: solid;
}
.companyName {
  font-size: 3rem;
  color: #222;
  font-weight: bold;
  line-height: 1.25;
  display: block;
  -webkit-font-smoothing: antialiased;
}

.location {
  color: #222;
  font-size: 1rem;
  font-weight: 700;
}

.locationWrapper {
  margin-top: 12px;
  display: flex;
  gap: 8px;
  align-items: center;
}
.description {
  margin-top: 12px;
  font-weight: 500;
  font-size: 1rem;
  color: #222;
  -webkit-font-smoothing: antialiased;
  line-height: 1.5;
}
p {
  margin: 0 0 1rem;
}

.rateBar {
  padding: 12px;
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  align-items: center;
}
.detailLeft {
  padding-right: 50px;
}

.detailRight {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.avgRating {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
}
.avgValueWrapper {
  display: flex;
}
.avgValue {
  color: rgb(21, 21, 21);
  font-size: 80px;
  margin-right: 11px;
  font-weight: 900;
}

.maxValue {
  color: rgb(152, 152, 152);
  font-size: 24px;
  font-weight: 700;
  position: relative;
  top: 20px;
}

.numRating {
  font-weight: 700;
  color: rgb(21, 21, 21);
  font-size: 14px;
  margin-bottom: 12px;
  margin-top: -8px;
}
.rateBarTitle {
  font-weight: 700;
  display: flex;
  justify-content: center;
}

.rateBarText {
  margin-bottom: 4px;
}

.numCount {
  color: #e77373;
  font-weight: 900;
}

.name {
  align-items: center;
  align-self: center;
  display: flex;
  font-size: 16px;
  padding-right: 22px;
  text-transform: uppercase;
  /* font-family: Poppins, sans-serif; */
  font-weight: 900;
}

.nameWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}

.nameWrapper {
  display: flex;
}

.rateButtonWrapper {
  display: flex;
  justify-content: center;
  margin-top: 24px;
}

.rateButton {
  min-width: 220px;
  text-decoration: none;
  width: fit-content;
  background: #323943;
  border: 0px;
  border-radius: 100px;
  color: white;
  display: flex;
  font-stretch: normal;
  font-weight: 700;
  -webkit-box-pack: center;
  justify-content: center;
  letter-spacing: normal;
  line-height: 1.54;
  outline: none;
  padding: 11px 46px;
  transition: transform 0.2s ease 0s;
  align-items: center;
}

.rateButton:hover {
  cursor: pointer;
  background: #242c38;
  -webkit-transform: none;
  -ms-transform: none;
  transform: none;
}

.ratingWrapper {
  width: 100%;
  border-bottom: 2px solid rgb(21, 21, 21);
  margin-top: 24px;
}
.numRatingCount {
  margin-bottom: 8px;
  font-weight: bold;
}

.descriptionDetail {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  margin: 0;
}

.descriptionLess {
  margin: 0;
}

.btnReadMore {
  background: transparent;
  border-width: 0;
  cursor: pointer;
}

.descriptionWrapper {
  margin-top: 12px;
}
.infoContainer {
  align-items: center;
  margin-top: -16px;
}

.infoWrapper {
  display: flex;
  justify-content: space-between;
}

.nameCompanyWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.unsavedItem {
  font-weight: 900;
  font-size: xx-large;
}
.unsavedItem:hover {
  cursor: pointer;
  color: #e77373;
}

.savedItem {
  font-weight: 900;
  color: #e77373;
  font-size: xx-large;
}
.verifiedItem {
  color: rgb(10, 99, 234);
  font-size: xx-large;
}
.unVerifiedItem {
  color: rgb(228, 228, 228);
  font-size: xx-large;
}

.savedItem:hover {
  cursor: pointer;
}
.jobList {
  width: 100%;
  margin-top: 60px;
  padding: 12px;
  border: 1px solid #e9e9e9;
  border-radius: 4px;
  align-items: center;
}
.jobListTitle {
  display: flex;
  justify-content: center;
  font-size: 36px;
  font-weight: 700;
}
.ratingLiWrapper {
  width: 100%;
}

.ratingUl {
  list-style: none;
}
.ratingBody {
  padding: 16px;
  width: 100%;
  display: flex;
  margin-top: 24px;
  padding: 18px 24px;
  position: static;
  top: 64px;
  background: white;
  box-shadow: rgb(231 115 115 / 100%) 0px 0px 4px;
  height: auto;
}
.ratingTextWrapper {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
}

.ratingCommentWrapper {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  align-items: center;
  text-align: left;
  width: 100%;
}
.nameWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 24px;
}
.commentName:hover {
  cursor: pointer;
}
.jobDescription {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4; /* number of lines to show */
  line-clamp: 4;
  -webkit-box-orient: vertical;
  white-space: pre-line;
}
.linkJob {
  font-size: 1.3rem;
  color: #585b5f;
}
.linkJob:hover {
  cursor: pointer;
  color: #242c38;
}
